{% extends 'base.html' %}
{% load static %}

{% block contenido %}

    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <div>
                    <h5>Proveedores</h5>
                </div>
                <div>
                    <a href="{% url 'agregar_proveedor' %}"  class="button btn-success btn-sm" id="addButton" data-toggle="tooltip" data-placement="right" title="Agregar Proveedor"><i class="fa-solid fa-plus"></i></a>
                </div>
            </div>
            <div class="card card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Nombre</th>
                        <th>Activo</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    
                    {% for proveedor in proveedores %}
                        <tr>
                            <td>{{ proveedor.nombre }}</td>
                            {% if proveedor.activo %}
                                <td>{{ 'Activo' }}</td>
                            {% else %}
                                <td>{{ 'No Activo' }}</td>
                            {% endif %}
            
                            <td><a href="{% url 'actualizar_proveedor' proveedor.id %}" class="button btn-success btn-sm actualizar" data-toggle="tooltip" data-placement="right" title="Actualizar Proveedor"><i class="fa-solid fa-pen-to-square"></i></a></td>
                            <td><a href="{% url 'eliminar_proveedor' proveedor.id %}" class="button btn-danger btn-sm eliminar" data-toggle="tooltip" data-placement="right" title="Eliminar Proveedor"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </table>    
            </div>
        </div>
        
    </div>


{% endblock  %}
